body{
    background: linear-gradient(to right, rgb(108, 113, 113), rgb(18, 199, 199));
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}
header{
    text-align: center;
    font-size: 30px;
    color:aquamarine;
    padding: 11px;
    margin: 10px;
}

li{
    text-align: left;
    font-size:25px;
    color:rgb(127, 174, 255);
    padding: 15px;
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}
nav{
    margin: 5px;
    padding: 20px;
}
main{
    display: inline-block;
    border: 7px solid #2ecc71;
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0fff0;
    padding: 20px;
    margin: 30px;
}
.status{
    text-align: left;
    font-size:25px;
    color:rgb(127, 174, 255);
    padding: 5px;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}
.i{
    height: 1000px;
}
.about{
    text-align: left;
    font-size:25px;
    color:rgb(127, 174, 255);
    padding: 20px;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    width: 450px;
    
}
.tex{
    padding:10px
    
}
.sumb{
    width: 26px;
    height: auto;
}
.back{
    color:rgb(127, 174, 255);
}
.ab{
    width: 80px;
    height: 50px;
    object-fit: contain;
}